n8n-workflows/corporate-karting-assistant.json
{
  "name": "Corporate Karting Email Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": false
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Jessica Gmail"
        }
      },
      "notes": "Monitors Jessica's inbox for new emails. Replace GMAIL_CREDENTIAL_ID with your actual credential ID after setting up Gmail OAuth in N8N."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.from.value[0].address }}",
              "operation": "notContains",
              "value2": "@atlantamotorsportspark.com"
            }
          ]
        }
      },
      "id": "filter-internal",
      "name": "Filter Internal Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 300],
      "notes": "Skip emails from AMP employees - we only want external customer inquiries."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 150,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Classify this email. Is it about booking a group event, corporate outing, birthday party, team building, or private karting event at a go-kart/karting facility?\\n\\nSigns it IS a group event inquiry:\\n- Mentions 'group', 'team', 'corporate', 'birthday', 'party', 'event'\\n- Asks about booking for multiple people\\n- Mentions team building or corporate outing\\n- Asks about private track time\\n- Mentions a specific number of guests/attendees\\n\\nSigns it is NOT a group event inquiry:\\n- General questions about hours, location, prices\\n- Individual wanting to race alone\\n- Questions about car/motorcycle track (not karting)\\n- Spam, marketing, or unrelated emails\\n\\nEmail Subject: {{ $('Gmail Trigger').item.json.subject }}\\n\\nEmail Body:\\n{{ $('Gmail Trigger').item.json.text || $('Gmail Trigger').item.json.snippet }}\\n\\nReply ONLY with valid JSON, no other text:\\n{\\\"is_group_event\\\": true or false, \\\"confidence\\\": 0-100, \\\"reason\\\": \\\"brief explanation\\\"}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "intent-classifier",
      "name": "Intent Classifier (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      },
      "notes": "Uses Claude Sonnet to classify if the email is about group/corporate karting. Fast and cheap (~$0.001 per classification). Replace ANTHROPIC_CREDENTIAL_ID with your actual credential ID."
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response to extract classification\nconst response = $input.first().json;\n\n// Get the text content from Claude's response\nlet content = '';\nif (response.content && response.content[0] && response.content[0].text) {\n  content = response.content[0].text;\n}\n\n// Parse the JSON from Claude's response\nlet classification;\ntry {\n  // Try to parse the JSON directly\n  classification = JSON.parse(content);\n} catch (e) {\n  // If parsing fails, try to extract JSON from the text\n  const jsonMatch = content.match(/\\{[^}]+\\}/);\n  if (jsonMatch) {\n    try {\n      classification = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      // Default to not a group event if we can't parse\n      classification = { is_group_event: false, confidence: 0, reason: 'Failed to parse response' };\n    }\n  } else {\n    classification = { is_group_event: false, confidence: 0, reason: 'No JSON in response' };\n  }\n}\n\nreturn {\n  is_group_event: classification.is_group_event || false,\n  confidence: classification.confidence || 0,\n  reason: classification.reason || 'Unknown'\n};"
      },
      "id": "parse-classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 220],
      "notes": "Extracts and parses Claude's JSON response into usable fields."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_group_event }}",
              "value2": true
            }
          ],
          "number": [
            {
              "value1": "={{ $json.confidence }}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "is-group-event",
      "name": "Is Group Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 220],
      "notes": "Only proceed if Claude is 70%+ confident this is a group event inquiry. Lower threshold may produce false positives."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 2000,\n  \"system\": \"You are AMP's concession karting advisor responding to group event inquiries on behalf of Jessica. Your job is to generate email draft responses following the exact template below.\\n\\n## CRITICAL RULES\\n1. DO NOT narrate your thought process\\n2. DO NOT say 'Let me put together your quote' or similar\\n3. If they provided day AND guest count, send the FULL template immediately\\n4. If missing info, ask for: (1) day of week and (2) number of guests\\n5. DO NOT negotiate or offer discounts\\n6. ALWAYS include the Award Ceremony ($75) in quotes\\n\\n## PRICING LOGIC\\n\\n### Weekend (Friday/Saturday/Sunday)\\n- Base: $4,200 (covers up to 20 guests)\\n- Over 20 guests: Add $209 per additional person\\n- Award Ceremony: $75\\n- Tax: 8%\\n\\n### Weekday (Wednesday/Thursday)\\n- Base: $1,790 (covers up to 10 guests)\\n- Over 10 guests: Add $179 per additional person\\n- Award Ceremony: $75\\n- Tax: 8%\\n\\n### Closed Days\\n- Monday and Tuesday - AMP is closed for group events\\n\\n## RESPONSE TEMPLATES\\n\\n### If MISSING day or guest count:\\n\\\"That sounds like a great time! To put together a quote for you, I just need two quick things:\\n1. What day of the week are you thinking? (We're open Wed-Sun for group events)\\n2. How many guests are you expecting?\\\"\\n\\n### If they provided BOTH day and guest count - send this EXACT template with calculated pricing:\\n\\nThank you for reaching out and considering Atlanta Motorsports Park for your event. It's a pleasure to connect with you and I'm excited to help bring your event to life!\\n\\nOur most popular choice for groups like yours is the Grand Prix Package, which gives your guests a private, structured and genuinely unforgettable race experience: two eight-minute practice sessions, one eight-minute qualifying session, a ten-lap final race, and a podium celebration for the top three drivers. It's an excellent format for a celebration of any kind.\\n\\nIf a Grand Prix is not a fit for your group, you also have the option of doing a lap buyout, where the kart track is reserved exclusively for your group for the session. During that time, no other groups would be on the track, and the cost is $720 per session.\\n\\nBased on what typically works best for our guests, I usually recommend pairing the race package with a private room rental and a catering option, whether that's a buffet of your choice (ideal for groups of twenty or more) or dining a la carte from our on-site restaurant (a great fit for smaller groups). These additions tend to elevate the overall flow of the day and give everyone a comfortable space to gather before and after racing.\\n\\nI've attached a quote for your event below. It's a helpful reference as you begin to envision your event. Please keep in mind that we are closed on Mondays and Tuesdays and that we have a $1,790 minimum on Wednesday/Thursday and a $4,200 minimum Friday - Sunday.\\n\\n**Atlanta Motorsports Park ([DAY])**\\n\\nCharges:\\n- Grand Prix Race ([GUEST DESCRIPTION]): $[RACE PRICE]\\n- Award Ceremony (1): $75.00\\n\\nSubtotal: $[SUBTOTAL]\\nTax (8%): $[TAX]\\nTotal: $[TOTAL]\\n\\nTake a moment to look things over and when you're ready, let me know which direction you'd like to move towards. I'll be happy to prepare a customized proposal for you. If there's anything specific you already know you'd like included – or if you'd like guidance on building the ideal package for your group – please feel free to let me know. I'm here to make the planning process smooth and enjoyable from start to finish.\\n\\nLooking forward to working with you!\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Here is a customer email inquiry about a group event. Generate an appropriate response following the skill guidelines.\\n\\nCustomer Email Subject: {{ $('Gmail Trigger').item.json.subject }}\\n\\nCustomer Email Body:\\n{{ $('Gmail Trigger').item.json.text || $('Gmail Trigger').item.json.snippet }}\\n\\nGenerate the response email body only (no subject line, no email headers). Start directly with the response content.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "response-generator",
      "name": "Response Generator (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1320, 140],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      },
      "notes": "Uses Claude Sonnet to generate the templated response with pricing. The system prompt contains the full skill guidelines and pricing logic."
    },
    {
      "parameters": {
        "jsCode": "// Extract the response text from Claude\nconst response = $input.first().json;\n\nlet draftBody = '';\nif (response.content && response.content[0] && response.content[0].text) {\n  draftBody = response.content[0].text;\n}\n\n// Get original email info from Gmail Trigger\nconst gmailData = $('Gmail Trigger').first().json;\n\nreturn {\n  draftBody: draftBody,\n  originalSubject: gmailData.subject,\n  replyTo: gmailData.from.value[0].address,\n  threadId: gmailData.threadId,\n  messageId: gmailData.id\n};"
      },
      "id": "prepare-draft",
      "name": "Prepare Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 140],
      "notes": "Extracts Claude's response and prepares it for Gmail draft creation."
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $json.originalSubject }}",
        "emailType": "text",
        "message": "={{ $json.draftBody }}",
        "options": {
          "replyToEmail": "={{ $json.replyTo }}",
          "threadId": "={{ $json.threadId }}"
        }
      },
      "id": "create-draft",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1760, 140],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Jessica Gmail"
        }
      },
      "notes": "Creates a draft in Jessica's Gmail. The draft is threaded with the original email so context is preserved. Jessica reviews and sends manually."
    },
    {
      "parameters": {
        "channel": "#sales-notifications",
        "text": "=:memo: New group event draft ready for review!\n\n*Subject:* {{ $('Gmail Trigger').item.json.subject }}\n*From:* {{ $('Gmail Trigger').item.json.from.value[0].address }}\n*Confidence:* {{ $('Parse Classification').item.json.confidence }}%\n\n_Check Gmail drafts to review and send._",
        "otherOptions": {}
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1980, 140],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      },
      "notes": "OPTIONAL: Notifies #sales-notifications channel when a new draft is ready. Remove this node if you don't use Slack, or update the channel name. Replace SLACK_CREDENTIAL_ID with your actual credential ID.",
      "disabled": true
    },
    {
      "parameters": {},
      "id": "no-op-not-group",
      "name": "Not a Group Event",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1320, 340],
      "notes": "Email was not classified as a group event inquiry. No action taken - Jessica will handle manually if needed."
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter Internal Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Internal Emails": {
      "main": [
        [
          {
            "node": "Intent Classifier (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Intent Classifier (Claude)": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Is Group Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Group Event?": {
      "main": [
        [
          {
            "node": "Response Generator (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not a Group Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Generator (Claude)": {
      "main": [
        [
          {
            "node": "Prepare Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Draft": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "1",
  "triggerCount": 1
}
